/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TheOracleOfDelphi implementation : © Robin Zigmond <robinzig@hotmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * theoracleofdelphi.css
 *
 * TheOracleOfDelphi stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (theoracleofdelphi_theoracleofdelphi.tpl), and to HTML elements you create dynamically
    (in theoracleofdelphi.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

:root {
    /* TODO: adjust these dimensions as needed! */
    --tile-width: 75px;
    --zeus-figure-ratio: 0.8;
    --offering-cube-ratio: 1.4;
    --monster-tile-ratio: 0.6;
}

#ood_map {
    position: relative;
    /* TODO: adjust dimensions (perhaps eventually dynamic based on random map generated!) */
    width: calc(var(--tile-width) * 14);
    height: calc(var(--tile-width) * 14);
    margin-left: auto;
    margin-right: auto;
}

.ood_maphex {
    position: absolute;
    width: var(--tile-width);
    height: calc(var(--tile-width) * 171 / 149);
    background-image: url('img/maptiles.png');
    background-size: 728.86% 565.5%;
    transform: translate(-50%, -50%);
}

.ood_maphex_zeus {
    background-image: none;
    z-index: 2; /* ensures Zeus figure is seen in front of other neighbouring hexes */
}

.ood_maphex_cityrotation_0 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

.ood_maphex_cityrotation_1 {
    transform: translate(-50%, -50%) rotate(30deg);
}

.ood_maphex_cityrotation_2 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.ood_maphex_cityrotation_3 {
    transform: translate(-50%, -50%) rotate(150deg);
}

.ood_maphex_cityrotation_4 {
    transform: translate(-50%, -50%) rotate(210deg);
}

.ood_maphex_cityrotation_5 {
    transform: translate(-50%, -50%) rotate(270deg);
}

.ood_maphex_city {
    width: calc(var(--tile-width) * 173 / 149);
    height: calc(var(--tile-width) * 177 / 149);
    background-size: 627.75% 546.33%;
}

.ood_maphex_city.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -203 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -396 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_city.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -203 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_city.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -396 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_island.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -589 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_island.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -589 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_island.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_land {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_monster {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_offering {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -392 / 149);
}

.ood_maphex_statue_black_blue_yellow {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_green_blue_black {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_green_yellow_pink {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_blue_pink {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_green_yellow {
    background-position: calc(var(--tile-width) * -686 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_pink_black {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_temple {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_water.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -392 / 149);
}

.ood_maphex_water.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -583 / 149);
}

.ood_maphex_water.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -786 / 149);
}

/* more image sprites CSS */
.ood_island_tile {
    background-image: url('img/island_tiles.png');
    width: calc(var(--tile-width) * 124 / 149);
    height: calc(var(--tile-width) * 108 / 149);
    background-size: 464.52% 474.07%;
}

.ood_island_red_psi {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_island_yellow_psi {
    background-position: calc(var(--tile-width) * -154 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_island_yellow_sigma {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -138 / 149);
}

.ood_island_yellow_omega {
    background-position: calc(var(--tile-width) * -143 / 149) calc(var(--tile-width) * -138 / 149);
}

.ood_island_blue_sigma {
    background-position: calc(var(--tile-width) * -298 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_island_blue_omega {
    background-position: calc(var(--tile-width) * -298 / 149) calc(var(--tile-width) * -138 / 149);
}

.ood_island_green_psi {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -266 / 149);
}

.ood_island_back {
    background-position: calc(var(--tile-width) * -154 / 149) calc(var(--tile-width) * -266 / 149);
}

.ood_island_green_sigma {
    background-position: calc(var(--tile-width) * -298 / 149) calc(var(--tile-width) * -266 / 149);
}

.ood_island_red_omega {
    background-position: calc(var(--tile-width) * -442 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_island_red_phi {
    background-position: calc(var(--tile-width) * -442 / 149) calc(var(--tile-width) * -138 / 149);
}

.ood_island_green_phi {
    background-position: calc(var(--tile-width) * -442 / 149) calc(var(--tile-width) * -266 / 149);
}

.ood_island_blue_phi {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -349 / 149);
}

.ood_zeus_figure {
    background-image: url('img/misc_tokens.png');
    width: calc(var(--tile-width) * var(--zeus-figure-ratio) * 116 / 149);
    height: calc(var(--tile-width) * var(--zeus-figure-ratio) * 176 / 149);
    background-size: 260.34% 166.48%;
    background-position: calc(var(--tile-width) * var(--zeus-figure-ratio) * -10 / 149) calc(var(--tile-width) * var(--zeus-figure-ratio) * -10 / 149);
}

.ood_favor {
    background-image: url('img/misc_tokens.png');
    width: 77px;
    height: 78px;
    background-size: 392.21% 375.64%;
    background-position: -146px -10px;
}

.ood_shield {
    background-image: url('img/misc_tokens.png');
    /* TODO: adjust dimensions etc. based on CSS var for playerboard width */
    width: 49px;
    height: 77px;
    background-size: 616.33% 380.52%
}

.ood_shield_red {
    background-position: -243px -10px;
}

.ood_shield_yellow {
    background-position: -10px -206px;
}

.ood_shield_green {
    background-position: -146px -108px;
}

.ood_shield_blue {
    background-position: -243px -107px;
}

.ood_zeus_tile {
    background-image: url('img/zeus_tiles.jpg');
    /* TODO: adjust dimensions etc, make variable */
    width: 80px;
    height: 119px;
    background-size: 1000% 600%
}

.ood_zeus_blue_monster_black {
    background-position: -0px -0px;
}

.ood_zeus_blue_monster_blue {
    background-position: -80px -0px;
}

.ood_zeus_blue_monster_red {
    background-position: -160px -0px;
}

.ood_zeus_blue_monster_wild {
    background-position: -0px -119px;
}

.ood_zeus_blue_monster_yellow {
    background-position: -0px -119px;
}

.ood_zeus_blue_offering_blue {
    background-position: -160px -119px;
}

.ood_zeus_blue_offering_green {
    background-position: -240px -0px;
}

.ood_zeus_blue_offering_pink {
    background-position: -240px -119px;
}

.ood_zeus_blue_offering_wild {
    background-position: -320px -0px;
}

.ood_zeus_blue_offering_yellow {
    background-position: -320px -119px;
}

.ood_zeus_blue_shrine_omega {
    background-position: -0px -238px;
}

.ood_zeus_blue_shrine_phi {
    background-position: -80px -238px;
}

.ood_zeus_blue_shrine_sigma {
    background-position: -160px -238px;
}

.ood_zeus_blue_statue_wild {
    background-position: -240px -238px;
}

.ood_zeus_green_monster_black {
    background-position: -320px -238px;
}

.ood_zeus_green_monster_blue {
    background-position: -400px -0px;
}

.ood_zeus_green_monster_red {
    background-position: -400px -119px;
}

.ood_zeus_green_monster_wild {
    background-position: -400px -238px;
}

.ood_zeus_green_monster_yellow {
    background-position: -0px -357px;
}

.ood_zeus_green_offering_blue {
    background-position: -80px -357px;
}

.ood_zeus_green_offering_green {
    background-position: -160px -357px;
}

.ood_zeus_green_offering_pink {
    background-position: -240px -357px;
}

.ood_zeus_green_offering_wild {
    background-position: -320px -357px;
}

.ood_zeus_green_offering_yellow {
    background-position: -400px -357px;
}

.ood_zeus_green_shrine_phi {
    background-position: -480px -0px;
}

.ood_zeus_green_shrine_psi {
    background-position: -480px -119px;
}

.ood_zeus_green_shrine_sigma {
    background-position: -480px -238px;
}

.ood_zeus_green_statue_wild {
    background-position: -480px -357px;
}

.ood_zeus_yellow_monster_black {
    background-position: -480px -595px;
}

.ood_zeus_yellow_monster_blue {
    background-position: -480px -476px;
}

.ood_zeus_yellow_monster_red {
    background-position: -560px -476px;
}

.ood_zeus_yellow_monster_wild {
    background-position: -400px -595px;
}

.ood_zeus_yellow_monster_yellow {
    background-position: -640px -0px;
}

.ood_zeus_yellow_offering_blue {
    background-position: -640px -119px;
}

.ood_zeus_yellow_offering_green {
    background-position: -640px -238px;
}

.ood_zeus_yellow_offering_pink {
    background-position: -640px -357px;
}

.ood_zeus_yellow_offering_wild {
    background-position: -240px -595px;
}

.ood_zeus_yellow_offering_yellow {
    background-position: -640px -476px;
}

.ood_zeus_yellow_shrine_omega {
    background-position: -640px -595px;
}

.ood_zeus_yellow_shrine_psi {
    background-position: -0px -595px;
}

.ood_zeus_yellow_shrine_sigma {
    background-position: -80px -595px;
}

.ood_zeus_yellow_statue_wild {
    background-position: -560px -595px;
}

.ood_zeus_red_monster_black {
    background-position: -560px -0px;
}

.ood_zeus_red_monster_blue {
    background-position: -560px -119px;
}

.ood_zeus_red_monster_red {
    background-position: -560px -238px;
}

.ood_zeus_red_monster_wild {
    background-position: -560px -357px;
}

.ood_zeus_red_monster_yellow {
    background-position: -160px -595px;
}

.ood_zeus_red_offering_blue {
    background-position: -0px -476px;
}

.ood_zeus_red_offering_green {
    background-position: -720px -119px;
}

.ood_zeus_red_offering_pink {
    background-position: -80px -476px;
}

.ood_zeus_red_offering_wild {
    background-position: -160px -476px;
}

.ood_zeus_red_offering_yellow {
    background-position: -240px -476px;
}

.ood_zeus_red_shrine_omega {
    background-position: -720px -0px;
}

.ood_zeus_red_shrine_psi {
    background-position: -320px -476px;
}

.ood_zeus_red_shrine_phi {
    background-position: -320px -595px;
}

.ood_zeus_red_statue_wild {
    background-position: -400px -476px;
}

.ood_ship_tile {
    background-image: url('img/ship_tiles.jpg');
    /* TODO: adjust dimensions etc, make variable */
    width: 110px;
    height: 216px;
    background-size: 400% 200%;
}

.ood_ship_tile_1 {
    background-position: -0px -0px;
}

.ood_ship_tile_2 {
    background-position: -110px -0px;
}

.ood_ship_tile_3 {
    background-position: -220px -216px;
}

.ood_ship_tile_4 {
    background-position: -330px -0px;
}

.ood_ship_tile_5 {
    background-position: -220px -0px;
}

.ood_ship_tile_6 {
    background-position: -0px -216px;
}

.ood_ship_tile_7 {
    background-position: -330px -216px;
}

.ood_ship_tile_8 {
    background-position: -110px -216px;
}

.ood_wooden_piece {
    background-image: url('img/wood.png');
}

.ood_offering {
    /* TODO: may need size adjustment - especially when in ship hold rather than map */
    width: calc(var(--tile-width) * var(--offering-cube-ratio) * 26 / 149);
    height: calc(var(--tile-width) * var(--offering-cube-ratio) * 27 / 149);
    background-size: 2107.69% 1840.74%;
}

.ood_offering_green {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -169 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -432 / 149);
}

.ood_offering_red {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -215 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -432 / 149);
}

.ood_offering_pink {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -457 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -369 / 149);
}

.ood_offering_blue {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -506 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -385 / 149);
}

.ood_offering_yellow {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -421 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -312 / 149);
}

.ood_offering_black {
    background-position: calc(var(--tile-width) * var(--offering-cube-ratio) * -123 / 149) calc(var(--tile-width) * var(--offering-cube-ratio) * -432 / 149);
}

.ood_temple {
    /* TODO: may need size adjustment */
    width: calc(var(--tile-width) * 41 / 149);
    height: calc(var(--tile-width) * 42 / 149);
    background-size: 1336.59% 1183.33%;
}

.ood_temple_green {
    background-position: calc(var(--tile-width) * -62 / 149) calc(var(--tile-width) * -432 / 149);
}

.ood_temple_black {
    background-position: calc(var(--tile-width) * -335 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_temple_blue {
    background-position: calc(var(--tile-width) * -213 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_temple_pink {
    background-position: calc(var(--tile-width) * -274 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_temple_red {
    background-position: calc(var(--tile-width) * -152 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_temple_yellow {
    background-position: calc(var(--tile-width) * -396 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_monster {
    /* TODO: may need size adjustment */
    width: calc(var(--tile-width) * var(--monster-tile-ratio) * 117 / 149);
    height: calc(var(--tile-width) * var(--monster-tile-ratio) * 117 / 149);
    background-size: 468.38% 424.79%;
}

.ood_monster_blue {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -147 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -10 / 149);
}

.ood_monster_green {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -147 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -147 / 149);
}

.ood_monster_black {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -284 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -147 / 149);
}

.ood_monster_yellow {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -284 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -10 / 149);
}

.ood_monster_pink {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -10 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -10 / 149);
}

.ood_monster_red {
    background-position: calc(var(--tile-width) * var(--monster-tile-ratio) * -10 / 149) calc(var(--tile-width) * var(--monster-tile-ratio) * -147 / 149);
}

.ood_statue {
    /* TODO: may need size adjustment - especially when in ship hold rather than map */
    width: calc(var(--tile-width) * 32 / 149);
    height: calc(var(--tile-width) * 55 / 149);
    background-size: 1712.5% 903.64%;
}

.ood_statue_red {
    background-position: calc(var(--tile-width) * -506 / 149) calc(var(--tile-width) * -235 / 149);
}

.ood_statue_green {
    background-position: calc(var(--tile-width) * -506 / 149) calc(var(--tile-width) * -160 / 149);
}

.ood_statue_pink {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -432 / 149);
}

.ood_statue_black {
    background-position: calc(var(--tile-width) * -506 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_statue_yellow {
    background-position: calc(var(--tile-width) * -506 / 149) calc(var(--tile-width) * -310 / 149);
}

.ood_statue_blue {
    background-position: calc(var(--tile-width) * -506 / 149) calc(var(--tile-width) * -85 / 149);
}

.ood_god {
    /* TODO: adjust dimensions etc. based on CSS var for playerboard width */
    width: 65px;
    height: 65px;
    background-size: 843.08% 764.62%;
}

.ood_god_ares {
    background-position: -95px -284px;
}

.ood_god_apollon {
    background-position: -10px -284px;
}

.ood_god_artemis {
    background-position: -421px -10px;
}

.ood_god_aphrodite {
    background-position: -265px -284px;
}

.ood_god_hermes {
    background-position: -421px -95px;
}

.ood_god_poseidon {
    background-position: -180px -284px;
}

.ood_shrine {
    /* TODO: may need size adjustment */
    width: calc(var(--tile-width) * 46 / 149);
    height: calc(var(--tile-width) * 49 / 149);
    background-size: 1191.3% 1014.29%;
    background-position: calc(var(--tile-width) * -421 / 149) calc(var(--tile-width) * -180 / 149);
}

.ood_ship {
    /* TODO: may need size adjustment */
    width: calc(var(--tile-width) * 51 / 149);
    height: calc(var(--tile-width) * 43 / 149);
    background-size: 1074.51% 1155.81%;
}

.ood_ship_red {
    background-position: calc(var(--tile-width) * -421 / 149) calc(var(--tile-width) * -249 / 149);
}

.ood_ship_green {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_ship_blue {
    background-position: calc(var(--tile-width) * -350 / 149) calc(var(--tile-width) * -284 / 149);
}

.ood_ship_yellow {
    background-position: calc(var(--tile-width) * -81 / 149) calc(var(--tile-width) * -369 / 149);
}

.ood_die_result {
    background-image: url('img/dice.png');
}

.ood_battle_die {
    /* TODO: adjust dimensions etc, make variable */
    width: 98px;
    height: 84px;
    background-size: 481.63% 548.81%;
}

.ood_battle_die_0 {
    background-position: -10px -10px;
}

.ood_battle_die_1 {
    background-position: -246px -114px;
}

.ood_battle_die_2 {
    background-position: -128px -218px;
}

.ood_battle_die_3 {
    background-position: -128px -10px;
}

.ood_battle_die_4 {
    background-position: -10px -218px;
}

.ood_battle_die_5 {
    background-position: -128px -114px;
}

.ood_battle_die_6 {
    background-position: -364px -10px;
}

.ood_battle_die_7 {
    background-position: -246px -10px;
}

.ood_battle_die_8 {
    background-position: -10px -114px;
}

.ood_battle_die_9 {
    background-position: -246px -218px;
}

.ood_titan_die {
    /* TODO: adjust dimensions etc, make variable */
    width: 60px;
    height: 62px;
    background-size: 786.67% 743.55%;
}

.ood_titan_die_1 {
    background-position: -90px -322px;
}

.ood_titan_die_2 {
    background-position: -364px -114px;
}

.ood_titan_die_3 {
    background-position: -364px -196px;
}

.ood_titan_die_4 {
    background-position: -10px -322px;
}

.ood_titan_die_5 {
    background-position: -170px -322px;
}

.ood_titan_die_6 {
    background-position: -250px -322px;
}

.ood_oracle_die {
    /* TODO: adjust dimensions etc. based on CSS var for playerboard width */
    width: 44px;
    height: 47px;
    background-size: 1072.73% 980.85%;
}

.ood_oracle_die_yellow {
    background-position: -330px -322px;
}

.ood_oracle_die_blue {
    background-position: -394px -322px;
}

.ood_oracle_die_pink {
    background-position: -10px -404px;
}

.ood_oracle_die_red {
    background-position: -74px -404px;
}

.ood_oracle_die_green {
    background-position: -138px -404px;
}

.ood_oracle_die_black {
    background-position: -202px -404px;
}

.ood_card {
    background-image: url('img/cards.jpg');
}

.ood_card_injury {
    /* TODO: adjust dimensions etc, make variable */
    width: 290px;
    height: 196px;
    background-size: 711.38% 943.88%;
}

.ood_card_injury_black {
    background-position: -580px -1066px;
}

.ood_card_injury_red {
    background-position: -1160px -1066px;
}

.ood_card_injury_blue {
    background-position: -0px -1262px;
}

.ood_card_injury_pink {
    background-position: -580px -1262px;
}

.ood_card_injury_back {
    background-position: -1160px -1262px;
}

.ood_card_injury_yellow {
    background-position: -0px -1458px;
}

.ood_card_injury_green {
    background-position: -0px -1654px;
}

.ood_card_oracle {
    /* TODO: adjust dimensions etc, make variable */
    width: 196px;
    height: 290px;
    background-size: 1052.55% 637.93%;
}

.ood_card_oracle_black {
    background-position: -1671px -0px;
}

.ood_card_oracle_blue {
    background-position: -1671px -290px;
}

.ood_card_oracle_pink {
    background-position: -1671px -1160px;
}

.ood_card_oracle_green {
    background-position: -1867px -0px;
}

.ood_card_oracle_back {
    background-position: -1867px -290px;
}

.ood_card_oracle_red {
    background-position: -1867px -580px;
}

.ood_card_oracle_yellow {
    background-position: -1867px -1160px;
}

.ood_card_equipment {
    /* TODO: adjust dimensions etc, make variable */
    width: 290px;
    height: 196px;
    background-size: 711.38% 943.88%;
}

.ood_card_equipment_1 {
    background-position: -588px -486px;
}

.ood_card_equipment_2 {
    background-position: -1185px -0px;
}

.ood_card_equipment_3 {
    background-position: -682px -776px;
}

.ood_card_equipment_4 {
    background-position: -290px -1458px;
}

.ood_card_equipment_5 {
    background-position: -0px -1066px;
}

.ood_card_equipment_6 {
    background-position: -870px -1458px;
}

.ood_card_equipment_7 {
    background-position: -290px -1654px;
}

.ood_card_equipment_8 {
    background-position: -895px -196px;
}

.ood_card_equipment_9 {
    background-position: -392px -776px;
}

.ood_card_equipment_10 {
    background-position: -895px -0px;
}

.ood_card_equipment_11 {
    background-position: -1450px -1458px;
}

.ood_card_equipment_12 {
    background-position: -870px -1066px;
}

.ood_card_equipment_13 {
    background-position: -870px -1262px;
}

.ood_card_equipment_14 {
    background-position: -0px -0px;
}

.ood_card_equipment_15 {
    background-position: -1185px -196px;
}

.ood_card_equipment_16 {
    background-position: -1160px -1654px;
}

.ood_card_equipment_17 {
    background-position: -580px -1654px;
}

.ood_card_equipment_18 {
    background-position: -580px -1458px;
}

.ood_card_equipment_19 {
    background-position: -200px -1066px;
}

.ood_card_equipment_20 {
    background-position: -870px -1654px;
}

.ood_card_equipment_21 {
    background-position: -290px -1262px;
}

.ood_card_equipment_22 {
    background-position: -1185px -682px;
}

.ood_card_companion {
    /* TODO: adjust dimensions etc, make variable */
    width: 196px;
    height: 290px;
    background-size: 1052.55% 637.93%;
}

.ood_card_companion_1 {
    background-position: -0px -196px;
}

.ood_card_companion_2 {
    background-position: -1475px -290px;
}

.ood_card_companion_3 {
    background-position: -307px -0px;
}

.ood_card_companion_4 {
    background-position: -1185px -392px;
}

.ood_card_companion_5 {
    background-position: -503px -0px;
}

.ood_card_companion_6 {
    background-position: -699px -0px;
}

.ood_card_companion_7 {
    background-position: -895px -392px;
}

.ood_card_companion_8 {
    background-position: -1475px -0px;
}

.ood_card_companion_9 {
    background-position: -0px -486px;
}

.ood_card_companion_10 {
    background-position: -196px -486px;
}

.ood_card_companion_11 {
    background-position: -392px -486px;
}

.ood_card_companion_12 {
    background-position: -1671px -580px;
}

.ood_card_companion_13 {
    background-position: -196px -776px;
}

.ood_card_companion_14 {
    background-position: -0px -776px;
}

.ood_card_companion_15 {
    background-position: -1867px -870px;
}

.ood_card_companion_16 {
    background-position: -1671px -870px;
}

.ood_card_companion_17 {
    background-position: -1475px -870px;
}

.ood_card_companion_18 {
    background-position: -1475px -580px;
}

.ood_playeraid {
    background-image: url('img/player_aid.jpg');
    background-size: 100% 100%;
    /* TODO: adjust dimensions etc, make variable */
    width: 254px;
    height: 395px;
}

.ood_playerboard {
    background-image: url('img/playerboards.jpg');
    background-size: 200% 200%;
    /* TODO: adjust dimensions etc, make variable */
    width: 1127px;
    height: 694px;
}

.ood_playerboard_red {
    background-position: -0px -0px;
}

.ood_playerboard_yellow {
    background-position: -1127px -0px;
}

.ood_playerboard_blue {
    background-position: -0px -694px;
}

.ood_playerboard_green {
    background-position: -1127px -694px;
}

.ood_hex_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ood_maphex .ood_wooden_piece {
    position: absolute;
    transform: translate(-50%, -50%);
}

.ood_maphex .ood_offering {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-30deg);
}

.ood_maphex .ood_monster {
    border: 1px solid white;
}
