/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TheOracleOfDelphi implementation : © Robin Zigmond <robinzig@hotmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * theoracleofdelphi.css
 *
 * TheOracleOfDelphi stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (theoracleofdelphi_theoracleofdelphi.tpl), and to HTML elements you create dynamically
    (in theoracleofdelphi.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

:root {
    /* TODO: adjust these dimensions as needed! */
    --tile-width: 75px;
}

#ood_map {
    position: relative;
    /* TODO: adjust dimensions (perhaps eventually dynamic based on random map generated!) */
    width: calc(var(--tile-width) * 14);
    height: calc(var(--tile-width) * 14);
    margin-left: auto;
    margin-right: auto;
}

.ood_maphex {
    position: absolute;
    width: var(--tile-width);
    height: calc(var(--tile-width) * 171 / 149);
    background-image: url('img/maptiles.png');
    background-size: 728.86% 565.5%;
    transform: translate(-50%, -50%);
}

.ood_maphex_zeus {
    background-image: none;
}

.ood_maphex_cityrotation_0 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

.ood_maphex_cityrotation_1 {
    transform: translate(-50%, -50%) rotate(30deg);
}

.ood_maphex_cityrotation_2 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.ood_maphex_cityrotation_3 {
    transform: translate(-50%, -50%) rotate(150deg);
}

.ood_maphex_cityrotation_4 {
    transform: translate(-50%, -50%) rotate(210deg);
}

.ood_maphex_cityrotation_5 {
    transform: translate(-50%, -50%) rotate(270deg);
}

.ood_maphex_city {
    width: calc(var(--tile-width) * 173 / 149);
    height: calc(var(--tile-width) * 177 / 149);
    background-size: 627.75% 546.33%;
}

.ood_maphex_city.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -203 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -396 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_city.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_city.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -203 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_city.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -396 / 149) calc(var(--tile-width) * -207 / 149);
}

.ood_maphex_island.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -589 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_island.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -589 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_island.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_island.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -404 / 149);
}

.ood_maphex_land {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_monster {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_offering {
    background-position: calc(var(--tile-width) * -758 / 149) calc(var(--tile-width) * -392 / 149);
}

.ood_maphex_statue_black_blue_yellow {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_green_blue_black {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_green_yellow_pink {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_blue_pink {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_green_yellow {
    background-position: calc(var(--tile-width) * -686 / 149) calc(var(--tile-width) * -595 / 149);
}

.ood_maphex_statue_red_pink_black {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -10 / 149);
}

.ood_maphex_temple {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -201 / 149);
}

.ood_maphex_water.ood_maphex_color_black {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -392 / 149);
}

.ood_maphex_water.ood_maphex_color_blue {
    background-position: calc(var(--tile-width) * -927 / 149) calc(var(--tile-width) * -583 / 149);
}

.ood_maphex_water.ood_maphex_color_green {
    background-position: calc(var(--tile-width) * -10 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_pink {
    background-position: calc(var(--tile-width) * -179 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_red {
    background-position: calc(var(--tile-width) * -348 / 149) calc(var(--tile-width) * -786 / 149);
}

.ood_maphex_water.ood_maphex_color_yellow {
    background-position: calc(var(--tile-width) * -517 / 149) calc(var(--tile-width) * -786 / 149);
}
